body {
    margin: 0px;
    font-family: sans-serif;
}

#nav-bar {
    background-color: lightgray;
    height: 45px;
    position: fixed;
    width: 100%;
}

ul {
    margin: 0px;
    padding-left: 0px;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

ul li a {
    text-decoration: none;
}

.right {
    float: right;
    padding-right: 25px;
}

input {
    height: 25px;
    width: 450px;
    font-size: 22px;
    padding: 5px;
}

label>input {
    display: inline-block;
    margin-right: 5px;
}

.search-jobs {
    padding-bottom: 10px;
    display: block;
}

img {
    height: 35px;
    float: right;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 1.5px;
}

form {
    padding-top: 80px;
}

.next-prev-page-btn {
    font-size: 0px;
    margin-left: 80px;
    margin-top: 45px;
    float: left;
    clear: both;
}

div>a {
    text-decoration: none;
}

.prev,
.next,
.page-number {
    display: inline-block;
    border: 1px solid silver;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 3px;
}

.content {
    margin-left: 80px;
    margin-top: 220px;
    font-size: 22px;
}

label>a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.date-address {
    color: silver;
    margin-right: 5px
}

.job-result1,
.job-result2,
.job-result3 {
    padding: 10px 0px;
}

.label-input {
    float: left;
    margin-right: 20px;
    margin-left: 80px;
}

input,
label {
    display: block;
}

.signature {
    text-align: center;
    margin-top: 100px;
}
